body {
    background-color: #FCFCFC;
    margin: 0;
}

/* Raw data table formatting */
#tabdata table {
    border: solid 1px grey;
    border-collapse: collapse;
}
#tabdata th, #tabdata td {
    text-align: left;
    border: solid 1px lightgrey;
    padding: 0 5px 0 5px;
}

/* Stage styling */
#stage {
    background-color: lightgrey;
}
#poihover {
    position: absolute;
    background-color: white;
    border: solid 1px black;
    color: #666;
    font-family: sans-serif;
    opacity: 0.9;
    padding: 2px;
}

/*Main Box */
.main{
    width:1280px;
    height: 720px;
}

/* First Group styling */
.first_group{
    width:97%;
}
.leftbox {
    float: left;
    background-color: lightgrey;
    width: 500px;
    border :solid 2px black;
    padding: 3px;
    border-radius:8px;
    margin:0px;
}

.select{
    position: relative;
    left:20px;
}

.second_group{
    position: relative;
    width:97%;
    top:5px;
}

#selection{
    padding: 5px;
    background-color: white;
    box-shadow: 0 0 0 3px lightgrey inset;
}


#commodities_selector .chzn-container-multi .chzn-choices {
    height: 50px !important;
    overflow-y: auto;
}

.plots{
    float:left;
    width:98%;
    border:solid 2px black;
    border-radius:5px;
    padding: 5px;
    background-color: white;
    box-shadow: 0 0 0 3px lightgrey inset;
}

.label label {
    display: inline-block;
    min-width: 130px;
}
