body {
    background-color: #FCFCFC;
    font-family: sans-serif;
    margin: 0;
}

#tabhelp a {
    color: #F36C00;
}

/* Raw data table formatting */
#tabdata table {
    border: solid 1px grey;
    border-collapse: collapse;
}
#tabdata th, #tabdata td {
    text-align: left;
    border: solid 1px lightgrey;
    padding: 0 5px 0 5px;
}

/* Stage styling */
#stage {
    background-color: lightgrey;
}
#poihover {
    position: absolute;
    background-color: white;
    border: solid 1px black;
    color: #666;
    font-family: sans-serif;
    opacity: 0.9;
    padding: 2px;
}

/*Main Box */
.main{
    width:1280px;
    height: 720px;
}

/* First Group styling */
.first_group{
    width:97%;
}
.leftbox {
    float: left;
    background-color: lightgrey;
    width: 310px;
    border :solid 2px black;
    padding: 3px;
    border-radius:8px;
    margin:0px;
}

#commleftbox{
    float: left;
    background-color: lightgrey;
    width: 410px;
    height: 373px;
    border :solid 2px black;
    padding: 3px;
    border-radius:8px;
    margin:0px;

}

.rightbox{
    position:relative;
    float : right;
    background-color: white;
    width: 500px;
    border :solid 2px black;
    padding: 3px;
    border-radius:8px;
    margin:0px;
}

.select{
    position: relative;
    left:20px;
}

.second_group{
    position: relative;
    width:97%;
    top:5px;
}

.selection{
    position: relative;
    top:-7px;
    right:3px;
    width:415px;
    background-color: lightgrey;
    border-radius: 8px;
    box-shadow: 0 0 0 3px lightgrey inset;
    height: 278px;
}

#commodities_selector{
    position: relative;
    top:5px;
    left:15px;

}

#commodities_selector .chzn-container-multi .chzn-choices {
    height: 30px !important;
    overflow-y: auto;
}

#state_selector .chzn-container-multi .chzn-choices {
    height: 30px !important;
    width: 250px;
    overflow-y: auto;
}

#state_selector{
    position: relative;
    top:15px;
    padding: 5px;
    left:20px;
}

.plots{
    float:left;
    width:99%;
    height: 320px;
    border:solid 2px black;
    border-radius:5px;
    padding: 5px;
    background-color: white;
    box-shadow: 0 0 0 3px lightgrey inset;
}

#worldmapdesc{
    padding: 10px;
}

#USselectmap{
    position: relative;
    top:15px;
    width:300px;
    padding: 2px;
    border: solid 2px black;
    border-radius: 5px;
    left:2px;
    background-color: grey;
}

#usimportexport{
    position: relative;
    top:10px;
    left:10px;
}

#importexportlabel{
    position:relative;
    top:0px;
    left:80px;
    font-size: 20px;
}

#label{
    left:5px;
}

#formatcomm{
    position: relative;
    top:5px;
    left:10px;
    height: 40px;
    width: 378px;
    border:solid 2px lightgrey;
    border-radius: 5px;   
}

#formatcomm .ui-button-text {
    font-size: 20px !important;
} 

.importexportlabel{
    padding: 10px;
    font-size: smaller;
}

#optionscomm{
    position: relative;
    top:0px;
    left: 6px;
    height: 90px;
    width: 400px;
    background: white;
    border:solid 2px black;
    border-radius: 5px;
    box-shadow: 0 0 0 3px grey inset;
}

#comsel{
    position:relative;
    left:15px;
    top:-10px;
    width: 200px;
}

#optionscoun{
    position: relative;
    top:10px;
    left: 2px;
    height: 100px;
    width: 304px;
    background: white;
    border:solid 2px black;
    border-radius: 5px;
    box-shadow: 0 0 0 3px grey inset;
}

#optionscoun #worldimportexport{
    position: relative;
    top:20px;
    left: 10px;
    width: 100px;
}

#formatcoun{
    position: relative;
    top:10px;
    left:4px;
    height: 32px;
    width: 290px;
    border:solid 2px lightgrey;
    border-radius: 5px; 
}

#formatcoun .ui-button-text {
    font-size: 15px !important;
} 

#USselectmapcomm{
    position: relative;
    left:6px;
    top:3px;
    width:396px;
    border: solid 2px black;
    border-radius: 5px;
    background-color: grey;
    padding: 2px;
}

#formatplot{
    position: relative;
    float:left;
    width: 380px;
    height: 40px;
}
/*.formatplot button{ 
    position: relative;
    top:-2px;
    border-radius: 20%;
}*/
#bmenu{
    position: relative;
    border-radius: 5px;
    right:7px;
    top:-7px;
}

#bhistogram{
    position: relative;
}

#bBar{
    position: relative;
}

#plotwrapper{
    position: relative;
    left: 120px;
    top:10%;
    width: 1120px;
    height: 300px;
    fill-opacity:0.8;
    margin:0px;
}

#sankey > div:nth-child(1) > div > svg > g:nth-child(2) > path:nth-child(1){
    fill-opacity:0.1;
}

#buttonplot{
    position:relative;
    left:10px;
    top:-24px;
    width: 100px;
    height: 100px;
}

.buttonselect{
    background-color: lightblue;
}

#histogram{
    position: relative;
    float:right;
    display: inline;
    top:-20px;
    right: 10px;
}

#pie{
    position: relative;
    float:right;
    display: inline;
    top:-30px;
    right: 10px;
}

#Bar{
    position: relative;
    float: right;
    display: inline;
    top:-30px;
    right: 10px;
}

#hold{
    position: relative;
    width: 200px;
    height: 200px;
    top:90px;
    right:123px;
    border: solid 2px black;
    box-shadow: 0 0 0 3px grey inset;
}

.resize{
    position: relative;
    width:500px;
    height: 500px;
}

.tooltip{
    display: inline-block;
    width: 5em;
}
